<h1>Editing guia movimiento</h1>

<%= render "form", guia_movimiento: @guia_movimiento %>

<br>

<div>
  <%= link_to "Show this guia movimiento", @guia_movimiento %> |
  <%= link_to "Back to guia movimientos", guia_movimientos_path %>
</div>
